#tab_plugin_speroplugin .main-model{
  width: 100%;
}

#tab_plugin_speroplugin .main-model .state-container{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border:1px;
  border-color: #3CAFEA;
  border-width: 2px;
  width: 100%;
  border-style: solid;
  overflow: hidden ;
}
#tab_plugin_speroplugin  .state-container .spero-logo{
 width:100%;
 height:4rem;
 background-color: #3CAFEA;
 display: flex;
 align-items: center;
 justify-content: center;
}
#tab_plugin_speroplugin  .state-container .state-section{

  display: flex;
  padding: 24px;
  background-color: #F5F5F5;
  color: #777777;
  font-family: 'Arial';
  font-style: normal;
  font-size: 13px;
  justify-content: space-between;



 }


 #tab_plugin_speroplugin  .information-states{

  padding-left: 24px;
  padding-top: 4px;
 
 

}


#tab_plugin_speroplugin  .information-states span{

  font-weight:bold; 
 
 

}
#tab_plugin_speroplugin  .information-states div{

  margin-bottom: 4px;
 
 

}



#tab_plugin_speroplugin .state-container .motor-move-buttons{

  display: flex;
  flex-direction: column;
  padding: 0px 70px;
 

}

#tab_plugin_speroplugin .state-container .motor-move-buttons i{

 margin-right: 8px;
 padding-top: 8px;
 

}
#tab_plugin_speroplugin .state-container .motor-move-buttons button{
  height: 25px;
  display: flex;
  align-items: center;
  border-width: 0.1px;
  border-color: #a59090;
  border-style: solid;
  border-radius: 7px;
  color: #777777;
  font-family: 'Arial';
  font-style: normal;
  font-size: 13px;
  font-weight:500; 
  padding: 12px 24px;
  margin-top: 4px;
 

}



#tab_plugin_speroplugin .motor-move-buttons button:hover{
  background-color:#3CAFEA;
  color: white;
  font-weight:500; 
 }

 #tab_plugin_speroplugin .queue-control-section{
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-left: 39px
 }

 #tab_plugin_speroplugin .queue-control-section button{
  height: 28px;
  width: 28px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: rgb(249, 249, 249);
  border-color: #a59090;
  color: #777777;
  border-width: 0.1px;
  border-radius: 4px;
 }
 #tab_plugin_speroplugin .queue-control-section input{
  border-radius: 7px;
  border-color: #ccc;
 }
 #tab_plugin_speroplugin .queue-control-section select{
  border: 2px solid #ccc;
  margin-top: 12px;
 }

 #tab_plugin_speroplugin .queue-state-information{
  display: flex;
  align-items: center;
  margin-left: 24px;
  color: #777777;
  margin-top: 8px;
  margin-bottom: 12px;
  padding-left: 24px;

  
 }
 #tab_plugin_speroplugin .queue-state-information div{

  margin-right: 36px;
 }

 #tab_plugin_speroplugin .queue-state-information button{

  height: 28px;
  width: 28px;
  background-color: rgb(249, 249, 249);
  border-color: #a59090;
  color: #777777;
  border-width: 0.1px;
  border-radius: 4px;
 }



 #tab_plugin_speroplugin .queue-items{

  margin-right: 20px;
 }


 #tab_plugin_speroplugin .pause-cancel-buttons{
  color: #777777;
  margin-left: 100px;
 }

 #tab_plugin_speroplugin .queue {

  color: #5B5B5B;

  border-width: 1px;
  margin-left: 23px;
  margin-right: 17px;
  margin-top: 7px;
  padding-bottom: 10px;
   
}


#tab_plugin_speroplugin .queue-row-container {
  margin-left: 16px;
  font-size: 12px;
  display: flex;
}

#tab_plugin_speroplugin .queue-inner-row-container  {
  display: flex;
  margin-top: 8px;
  

}

#tab_plugin_speroplugin .queue-inner-row-container .circle-state {
  
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 6px;
  margin-right: -4px;
  

}

#tab_plugin_speroplugin .queue-inner-row-container svg {
  
margin-bottom: 6px;
margin-left: 4px;
  

}


#tab_plugin_speroplugin .queue-inner-row-container .item-state {

  border-radius: 6px;

  background-color:#77777738;
  padding: 2px 10px;

}

#tab_plugin_speroplugin .queue-inner-row-container span {
  margin-left: 8px;
  margin-bottom: 8px;
  color: #777777;
  font-family: 'Arial';
  font-style: normal;
  font-size: 13px;
}

#tab_plugin_speroplugin .queue-inner-row-container div {
 align-items: center;
 display: flex;
}
#tab_plugin_speroplugin .queue-name{
  width:132px;
 }
 
 #tab_plugin_speroplugin .queue-item-adjust-buttons{
  margin-left: 134px;
  margin-bottom: 4px;

 }
 
 #tab_plugin_speroplugin .queue-item-adjust-buttons button{
  height: 28px;
  width: 28px;
  background-color: rgb(249, 249, 249);
  border-color: #a59090;
  color: #777777;
  border-width: 0.1px;
  border-radius: 4px;
  margin-left: 4px;
 }
 

#tab_plugin_speroplugin .main-model .queue-container{
  margin-top: 15px;
  border-radius: 20px;

  border-color: #3CAFEA;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  height: 450px;
  width: 100%;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  flex: 1;
  
 
}
